---
import { Image } from 'astro:assets';
import { getImage } from "astro:assets";

import trabajo from '../../public/imagenes/trabajando.jpeg';
const Background = await getImage({src: trabajo, format: 'webp'});
---
<div class="contenedor-trabajo" style={`background-image: url(${Background.src});`}>
    <h1 class="title">Trabajos</h1>
    <div class="trabajos">
        <h2>Trabajando en ello</h2>
    </div>
</div>

<style>
    .contenedor-trabajo{
        margin-top: 100px;
        width: 100%;
        height: 100%; /* Usa '100vh' para ocupar toda la altura de la ventana */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0 auto;
    }

    .title{
        padding-top: 70px;
        color: #dcf2ff;
        z-index: 1;
    }

    .contenedor-trabajo::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }

    
</style>